

html {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

* {
    margin:0px;
    padding:0px;
    text-decoration:none !important;
}

body{
    overflow-x: hidden;
    font-family:'Inter', sans-serif;
    max-width:100vw;
}

.Home, .Contacto{ 
    overflow-y: hidden;
}

@import './style/Home.css';
@import './style/Menu.css';
@import './style/Hero.css';
@import './style/Contacto.css';
@import './style/Articulo1.css';
@import './style/Articulo2.css';
@import './style/Articulo3.css';
@import './style/Articulos.css';
@import './style/Footer.css';