

html {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

* {
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}

body{
    overflow-x: hidden;
    font-family:'Inter', sans-serif;
}

.Home, .Contacto{ 
    overflow-y: hidden;
}

@import './style/Home.css';
@import './style/Menu.css';
@import './style/Hero.css';
@import './style/Contacto.css';
@import './style/Articulo.css';
@import './style/Articulos.css';