
.Articulo-2{
    max-width:100vw;
    min-height: 100vh;
}

.Articulo-2 .hero-articulo-2{
    height:50vh;
    object-fit:cover;
    position:relative;
    overflow-y:hidden;
}

.Articulo-2 #background-articulo-2{
    position: absolute;
    z-index:-99;
    right: 0;
    bottom: -137px;
    max-width: 100vw; 
    min-height: 50vh;
}

.Articulo-2 .header .brand{
    color:white;
    margin-left:30px;
    font-size:28px;
    font-weight:600;
}

.Articulo-2 ._layer{
    background: white !important;
}

.Articulo-2 .content-articulo-2{
    display:flex;
    flex-direction: column;
    max-width: 100%;
}

.Articulo-2 .content-articulo-2 .title-articulo-2{
    display:flex;
    flex-direction:column;
    align-items:flex-end;
    padding-right:30px;
    max-width: 100%;
}

.Articulo-2 .content-articulo-2 .title-articulo-2 h1{
    font-size:60px;
    color:white;
    margin-top:-90px;
}

.Articulo-2 .content-articulo-2 .title-articulo-2 h2{
    font-size:20px;
    margin-top:40px;
    width:40%;
    text-align:right;
    font-weight:600;
    font-style: oblique;
}

.Articulo-2 .content-articulo-2 .col-1{
    width:33%;
    display:flex;
    flex-direction:column;
    align-self: flex-start;
    padding-left:30px;
    margin-top:10vh;
}

.Articulo-2 .content-articulo-2 .row{
    display:flex;
    justify-content: space-between;
}

.Articulo-2 .content-articulo-2 .col-1{
    width:35%;
    display:flex;
    flex-direction:column;
    padding-left:30px;
    margin-top:35vh;
}

.Articulo-2 .content-articulo-2 .col-2{
    width:35%;
    display:flex;
    flex-direction:column;
    text-align:justify;
    padding-right:30px;
    margin-top:30px;
}

.Articulo-2 .content-articulo-2 .col-2 p{
    margin:5px 0px;
}

.Articulo-2 .content-articulo-2 .col-1 .module-numeracion{
    display:flex;
    flex-direction: column;
    margin-bottom:60px;
}

.Articulo-2 .content-articulo-2 .col-1 .module-numeracion .title {
    display:flex;
    border-bottom:1px solid rgba(0,0,0,0.5);
}

.Articulo-2 .content-articulo-2 .col-1 .module-numeracion .title h4{
    font-size:70px;
}

.Articulo-2 .content-articulo-2 .col-1 .module-numeracion .title h5{
    font-size:30px;
    margin-top:5px;
    margin-left:5px;
}

.Articulo-2 .content-articulo-2 .col-1 .module-numeracion p{
    margin-top:15px;
    margin-left:15px;
}