
.Articulo-2{
    max-width:100vw;
    min-height: 100vh;
}

.Articulo-2 .hero-articulo-2{
    height:60vh;
    object-fit:cover;
    position:relative;
    overflow-y:hidden;
}

.Articulo-2 #background-articulo-2{
    position: absolute;
    z-index:-99;
    right: 0;
    bottom: -137px;
    max-width: 100vw; 
    min-height: 60vh;
}

.Articulo-2 .header .brand{
    color:white;
    margin-left:30px;
    font-size:28px;
    font-weight:600;
}

.Articulo-2 ._layer{
    background: white !important;
}

.Articulo-2 .content-articulo-2{
    display:flex;
    flex-direction: column;
    max-width: 100%;
}

.Articulo-2 .content-articulo-2 .title-articulo-2{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    max-width: 100%;
}

.Articulo-2 .content-articulo-2 .title-articulo-2 h1{
    font-size:120px;
    color:white;
    margin-top:-160px;
    margin-left:9%;
}

.Articulo-2 .content-articulo-2 .text-articulo-2{
    width:100%;
    margin-left:9%;
}

.Articulo-2 .content-articulo-2 .text-articulo-2 h2{
    font-size:22px;
    margin-top:30px;
    font-style:oblique;
    font-weight:600;
    margin-bottom:30px;
    width:35%;
    
}

.Articulo-2 .content-articulo-2 .text-articulo-2 p{
    margin-top:20px;
    text-align:justify;
    width:35%;
}

.Articulo-2 .module-numeracion{
    display:flex;
    flex-direction: column;
    margin-bottom:30px;
    width:45%;
    padding-right:6%;
    margin-top:30px;
}

.Articulo-2 .minirow:first-of-type{
    margin-top:30px;
}

.Articulo-2 .minirow:last-of-type{
    margin-bottom:60px;
}


.Articulo-2 .module-numeracion .title {
    display:flex;
    border-bottom:1px solid rgba(0,0,0,0.5);
    align-items: flex-end;
}

.Articulo-2 .module-numeracion .title h4{
    font-size:70px;
    color:rgb(27, 27, 78);
}

.Articulo-2 .module-numeracion .title h5{
    font-size:30px;
    margin-top:5px;
    margin-left:5px;
    margin-bottom: 10px;
}

.Articulo-2 .module-numeracion p{
    margin-top:15px;
    margin-left:15px;
    width:100% !important;
}

#video-articulo-2{
    height:50vh;
    width:100vw;
    object-fit: cover;
    object-position: center;
    position:relative;
    display:flex;
    justify-self: center;
    z-index:-5;
}

.afterpic{
    display:flex;
    width:100%;
    justify-content:center;
    align-items:center;
    margin-bottom:20px;
}

.afterpic .col-2,
.afterpic .col-3{
    width:35%;
    margin-left:9%;
}

.afterpic p{
    padding:10px 0px;
    text-align:justify;
}

.afterpic .col-3{
    background-color: white;
    padding:4%;
    margin-top:-240px;
}

.afterpic .col-2{
    display:flex;
    flex-direction: column;
    justify-content:flex-end;
}

.afterpic .col-2 p{
    font-size:30px;
    font-weight:600;
    color:#FF7D14;
    text-align:left;
}

.afterpic .col-2 span{
    font-size:24px;
    font-weight:500;
    font-style:oblique;
    color:black;
    text-align:right;
    margin-top:5px;
}

.minirow{
    display:flex;
    width:80%;
}
