
.Articulo-2{
    max-width:100vw;
    min-height: 100vh;
}

.Articulo-2 .hero-articulo-2{
    height:60vh;
    object-fit:cover;
    position:relative;
    overflow-y:hidden;
}

.Articulo-2 #background-articulo-2{
    position: absolute;
    z-index:-99;
    right: 0;
    bottom: -137px;
    max-width: 100vw; 
    min-height: 60vh;
}

.Articulo-2 .header .brand{
    color:white;
    margin-left:30px;
    font-size:28px;
    font-weight:600;
}

.Articulo-2 ._layer{
    background: white !important;
}

.Articulo-2 .content-articulo-2{
    display:flex;
    flex-direction: column;
    max-width: 100%;
}

.Articulo-2 .content-articulo-2 .title-articulo-2{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    max-width: 100%;
}

.Articulo-2 .content-articulo-2 .title-articulo-2 h1{
    font-size:120px;
    color:white;
    margin-top:-160px;
    margin-left:9%;
}

.Articulo-2 .content-articulo-2 .text-articulo-2{
    width:35%;
    margin-left:9%;
}

.Articulo-2 .content-articulo-2 .text-articulo-2 h2{
    font-size:22px;
    margin-top:30px;
    font-style:oblique;
    font-weight:600;
    margin-bottom:30px;
}

.Articulo-2 .content-articulo-2 .text-articulo-2 p{
    margin-top:20px;
    text-align:justify;
}

.Articulo-2 .module-numeracion{
    display:flex;
    flex-direction: column;
    margin-bottom:60px;
}

.Articulo-2 .module-numeracion:first-of-type{
    margin-top:40px;
}

.Articulo-2 .module-numeracion .title {
    display:flex;
    border-bottom:1px solid rgba(0,0,0,0.5);
    align-items: flex-end;
}

.Articulo-2 .module-numeracion .title h4{
    font-size:70px;
    color:rgb(27, 27, 78);
}

.Articulo-2 .module-numeracion .title h5{
    font-size:30px;
    margin-top:5px;
    margin-left:5px;
    margin-bottom: 10px;
}

.Articulo-2 .module-numeracion p{
    margin-top:15px;
    margin-left:15px;
}


