.Hero{
    width:100vw;
    height:45vh;
    display:flex;
    flex-direction:column;
    position:relative;
    margin-bottom:30px;
}

.Hero .brand{
    position:absolute;
    top:25px;
    left:30px;
    color:black;
    font-weight:600;
    font-size:28px;
}


.Hero .hamburguer{
    right:4% !important;
    top:3% !important;
    
}

.Articulos ._layer{
	background:black;
}

.Articulos .hamburger.is-active ._layer{
	background:white !important;
}

.Hero h1{
    margin-top:40px;
    font-size:270px;
    color:white;
    font-weight:800;
    padding:0px 0px 20px 30px;
    background-image:url('../img/bk-articulos.gif');
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Hero p.date{
    padding:0px 50px 30px 0px;
    display:flex;
    align-self:flex-end;
    font-weight:600;
    margin-top:-30px;
    position:absolute;
    top:50%;
    right:13%;
}

